body {
    font-family: 'Roboto', sans-serif;
    background-color: #17202a;
    color: #fdfefe;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Estilos de encabezado */
  
  header {
    background-color: #1b2631;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .logo {
    width: 30px; 
    position: absolute;
    left: 70px;

  }
  

  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
.menu li {
    margin: 0 1rem;
}

  .menu li a {
    color: #fdfefe;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .menu li a:hover {
    background-color: #fdfefe;
    color: #3f6992;
    transform: scale(1.1);
  }
  
  /* Estilos de portada */
  
  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .portada-img-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .portada-img {
    max-width: 45%;
    height: auto;
  }
  
  /* Estilos de secciones */
  
  .participantes, .habilidades, .conocenos {
    padding: 2rem;
  }
  
  .participantes h2, .habilidades h2, .conocenos h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .participantes ul, .habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  .participantes li, .habilidades li {
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .participantes li a, .habilidades li {
    color: #fdfefe;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .participantes li a:hover, .habilidades li:hover {
    color: #406890;
  }
  
  /* Estilos de pie de página */
  
  footer {
    background-color: #1b2631;
    padding: 1rem;
    text-align: center;
  }
  
  /* Responsive design */
  
  @media (max-width: 600px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
    .portada-img-container {
      flex-direction: column;
    }
    .portada .logo {
      width: 30px; /* Logo más pequeño en dispositivos móviles */
    }
    .portada-img {
      max-width: 100%;
    }
  }
  